<script>
	// @ts-nocheck

	import { supabase } from '$lib/supabaseClient';
	import { readable, get } from 'svelte/store';

	/**
	 * @type {unknown}
	 */
	export let id;
	/**
	 * @type {any}
	 */
	export let namech;
	/**
	 * @type {any}
	 */
	export let content;

	export let name;

	// @ts-ignore
	async function addComment({ target }) {
		const formData = new FormData(target);

		const { data, error } = await supabase.from('comments').insert({
			content: formData.get('comment'),
			name: formData.get('names'),
			channel: id
		});
		document.getElementById('comment').value = '';
	}

	const comments = readable(null, (set) => {
		supabase
			.from('comments')
			.select('*')
			.filter('channel', 'eq', id)
			// @ts-ignore
			.then(({ error, data }) => set(data));

		// add subscription to supabase logic
		const subscription = supabase
			.channel('comments:channel=eq.' + id)
			.on('postgres_changes', { event: '*', schema: '*' }, (payload) => {
				if (payload.eventType === 'INSERT') {
					// @ts-ignore
					set([...get(comments), payload.new]);
				}
			})
			.subscribe();
		return () => supabase.removeChannel(subscription);
	});
</script>

<!-- <article style="padding: 2rem;">
	<h3>{namech}</h3>
	<h4>comments</h4>
	{#if $comments}
		{#each $comments as { content }}
			<p>{content}</p>
		{:else}
			No comments yet!
		{/each}
	{:else}
		Loading..
	{/if}

	<form on:submit|preventDefault={addComment}>
		<input placeholder="comment" name="comment" />
		<input placeholder="Name" name="names" />
		<button>Add Comment</button>
	</form>
</article> -->

<div class="flex h-screen antialiased text-gray-800">
	<div class="flex flex-row h-full w-full overflow-x-hidden">
		<div class="flex flex-col py-8 pl-6 pr-2 w-64 bg-primary flex-shrink-0">
			<div class="flex flex-row items-center justify-center h-12 w-full">
				<div
					class="flex items-center justify-center rounded-2xl text-bg-primary-focus bg-accent h-10 w-10"
				>
					<svg
						class="w-6 h-6"
						fill="none"
						stroke="currentColor"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"
						/>
					</svg>
				</div>
				<div class="ml-2 font-bold text-2xl">TomChat</div>
			</div>
			<div
				class="flex flex-col items-center bg-indigo-100 border bg-accent mt-4 w-full py-6 px-4 rounded-lg"
			>
				<a href="/">
					<button>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							class="w-5 h-5"
						>
							<path
								fill-rule="evenodd"
								d="M7.793 2.232a.75.75 0 01-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 010 10.75H10.75a.75.75 0 010-1.5h2.875a3.875 3.875 0 000-7.75H3.622l4.146 3.957a.75.75 0 01-1.036 1.085l-5.5-5.25a.75.75 0 010-1.085l5.5-5.25a.75.75 0 011.06.025z"
								clip-rule="evenodd"
							/>
						</svg>
					</button>
				</a>

				<div class="text-sm font-semibold mt-2">Welcome to TomChat</div>
				<div class="text-xs text-bg-warning-content">Make a New Channel!</div>
			</div>
			<div class="flex flex-col space-y-1 mt-4 -mx-2 h-48 overflow-y-auto">
				<button class="flex flex-row items-center hover:bg-accent-focus rounded-xl p-1">
					<div class="flex items-center justify-center h-8 w-8 bg-accent rounded-full mr-3">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							class="w-5 h-5"
						>
							<path
								fill-rule="evenodd"
								d="M9.493 2.853a.75.75 0 00-1.486-.205L7.545 6H4.198a.75.75 0 000 1.5h3.14l-.69 5H3.302a.75.75 0 000 1.5h3.14l-.435 3.148a.75.75 0 001.486.205L7.955 14h2.986l-.434 3.148a.75.75 0 001.486.205L12.456 14h3.346a.75.75 0 000-1.5h-3.14l.69-5h3.346a.75.75 0 000-1.5h-3.14l.435-3.147a.75.75 0 00-1.486-.205L12.045 6H9.059l.434-3.147zM8.852 7.5l-.69 5h2.986l.69-5H8.852z"
								clip-rule="evenodd"
							/>
						</svg>
					</div>
					{namech}
				</button>
			</div>
		</div>
		<div class="flex flex-col flex-auto h-full p-6">
			<div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-accent h-full p-4">
				<div class="flex flex-col h-full overflow-x-auto mb-4">
					<div class="flex flex-col h-full">
						<div class="grid grid-cols-12 gap-y-2">
							{#if $comments}
								{#each $comments as contents}
									<div class="col-start-1 col-end-8 p-3 rounded-lg">
										<div class="flex flex-row items-center">
											<div
												class="flex items-center justify-center h-10 w-10 rounded-full bg-secondary flex-shrink-0"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													viewBox="0 0 20 20"
													fill="currentColor"
													class="w-5 h-5"
												>
													<path
														fill-rule="evenodd"
														d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-5.5-2.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zM10 12a5.99 5.99 0 00-4.793 2.39A6.483 6.483 0 0010 16.5a6.483 6.483 0 004.793-2.11A5.99 5.99 0 0010 12z"
														clip-rule="evenodd"
													/>
												</svg>
											</div>
											<div class="chat chat-start">
												<div class="chat-header">
													{contents.name}
													<time class="text-xs opacity-50"
														>{contents.created_at[11]}{contents.created_at[12]}:{contents
															.created_at[14]}{contents.created_at[15]}&nbsp;&nbsp;&nbsp;{contents
															.created_at[8]}{contents.created_at[9]}-{contents
															.created_at[5]}{contents.created_at[6]}-{contents
															.created_at[2]}{contents.created_at[3]}</time
													>
												</div>
												<div class="chat-bubble">{contents.content}</div>
											</div>
										</div>
									</div>
								{:else}
									No chats yet!
								{/each}
							{:else}
								Loading..
							{/if}
						</div>
					</div>
				</div>
				<form on:submit|preventDefault={addComment}>
					<div class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4">
						<div class="pr-7">
							<input
								type="text"
								name="names"
								placeholder="Name"
								class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
							/>
						</div>
						<input
							id="comment"
							type="text"
							name="comment"
							placeholder="Type Chat Here!"
							class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
						/>
						<div class="flex-grow ml-4">
							<div class="relative w-full" />
						</div>
						<div class="ml-4">
							<button
								class="flex items-center justify-center bg-primary hover:bg-accent-content rounded-xl text-white px-4 py-1 flex-shrink-0"
							>
								<span>Send</span>
								<span class="ml-2">
									<svg
										class="w-4 h-4 transform rotate-45 -mt-px"
										fill="none"
										stroke="currentColor"
										viewBox="0 0 24 24"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
										/>
									</svg>
								</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
