<script>
	// @ts-nocheck

	import { supabase } from '$lib/supabaseClient';
	import { readable, get } from 'svelte/store';
	import Post from '$lib/Post.svelte';

	/**
	 * @param {{ target: HTMLFormElement | undefined; }} e
	 */
	async function addPost(e) {
		const formData = new FormData(e.target);
		const { data, error } = await supabase.from('channels').insert({
			namech: formData.get('namech')
		});
		e.target.reset();
	}

	const channels = readable(null, (set) => {
		supabase
			.from('channels')
			.select('*')
			// @ts-ignore
			.then(({ error, data }) => set(data));

		// add subscription to supabase logic
		const subscription = supabase
			.channel('channels')
			.on('postgres_changes', { event: 'INSERT', schema: '*' }, (payload) => {
				// @ts-ignore
				set([...get(channels), payload.new]);
			})
			.subscribe();
		return () => supabase.removeChannel(subscription);
	});
</script>

<!-- Put this part before </body> tag -->
<form on:submit|preventDefault={addPost}>
	<input type="checkbox" id="my-modal-3" class="modal-toggle" />
	<div class="modal">
		<div class="modal-box relative">
			<label
				for="my-modal-3"
				class="btn btn-sm btn-circle bg-secondary-content absolute right-2 top-2">✕</label
			>
			<h3 class="text-lg font-bold">Create a New Channel!</h3>
			<p class="py-4">
				<input
					type="text"
					name="namech"
					placeholder="Type a New Channel here"
					class="input input-bordered input-primary w-full max-w-xs"
				/>
			</p>
			<button class="btn btn-outline btn-primary ml-96">SAVE</button>
		</div>
	</div>
</form>
<!-- component -->
<div class="flex h-screen antialiased text-gray-800">
	<div class="flex flex-row h-full w-full overflow-x-hidden">
		<div class="flex flex-col py-8 pl-6 pr-2 w-64 bg-primary flex-shrink-0">
			<div class="flex flex-row items-center justify-center h-12 w-full">
				<div
					class="flex items-center justify-center rounded-2xl text-bg-primary-focus bg-accent h-10 w-10"
				>
					<svg
						class="w-6 h-6"
						fill="none"
						stroke="currentColor"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"
						/>
					</svg>
				</div>
				<div class="ml-2 font-bold text-2xl">TomChat</div>
			</div>
			<div
				class="flex flex-col items-center bg-indigo-100 border bg-accent mt-4 w-full py-6 px-4 rounded-lg"
			>
				<div class="text-sm font-semibold mt-2">Welcome to TomChat</div>
				<div class="text-xs text-bg-warning-content">Make a New Channel!</div>
			</div>
			<div class="flex flex-col mt-8">
				<div class="flex flex-row items-center justify-between text-xs">
					<span class="font-bold">Channel</span>
				</div>
				<div class="flex flex-col space-y-1 mt-4 -mx-2 h-48 overflow-y-auto">
					{#if $channels}
						{#each $channels as post}
							<button class="flex flex-row items-center hover:bg-accent-focus rounded-xl p-1">
								<div class="flex items-center justify-center h-8 w-8 bg-accent rounded-full">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 20 20"
										fill="currentColor"
										class="w-5 h-5"
									>
										<path
											fill-rule="evenodd"
											d="M9.493 2.853a.75.75 0 00-1.486-.205L7.545 6H4.198a.75.75 0 000 1.5h3.14l-.69 5H3.302a.75.75 0 000 1.5h3.14l-.435 3.148a.75.75 0 001.486.205L7.955 14h2.986l-.434 3.148a.75.75 0 001.486.205L12.456 14h3.346a.75.75 0 000-1.5h-3.14l.69-5h3.346a.75.75 0 000-1.5h-3.14l.435-3.147a.75.75 0 00-1.486-.205L12.045 6H9.059l.434-3.147zM8.852 7.5l-.69 5h2.986l.69-5H8.852z"
											clip-rule="evenodd"
										/>
									</svg>
								</div>
								<a href="/channel/{post.id}">
									<div class="ml-2 text-sm font-semibold">
										{post.namech}
									</div>
								</a>
							</button>
						{/each}
					{:else}
						Loading..
					{/if}
				</div>
			</div>
			<!-- The button to open modal -->
			<label for="my-modal-3" class="btn btn-accent">Create New Chanel</label>
		</div>
	</div>
</div>
